#!/bin/sh
#
# Quick script to delete the X number of files older than a counter.
#
#

find "{{ mssql_backup_path }}" -maxdepth 1 -type d -user mssql | while read dir; do
    cd "$dir"
    ls -1t | tail -n +{{ mssql_backup_count }} | xargs rm -f
    cd ..
done